[Unit]
Description=EasyNAS application
After=network.target

[Service]
Type=simple
User=admin
ExecStart=/easynas/script/easy_nas daemon -m production -l https://*:1443?cert=/etc/easynas/easynas.cert&key=/etc/easynas/easynas.key

[Install]
WantedBy=multi-user.target
